<div class = "container">
    <p>
        This project is kind of like a clone of a project i found on the internet. This is the <a href = "http://countries.petethompson.net/">link</a> to the original project.
    </p>

    <p>
        I decided to build my own version using Angular, NgRx, firebase and good old CSS. The styling could defintely be improved.
    </p>

    <p>
        I built this project in order to practice my angular skills and other basic skills  - routing, authentication, HttpCalls and others.
    </p>
</div>